.blog-wrapper {
  max-width: 1057px;
  margin: 0 auto;
  padding-top: 230px;
}

.blog-title {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 90px;
}

.blog-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-1__information__title {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-style: italic;
}

.blog-1__information__text {
  font-size: 16px;
  max-width: 415px;
  line-height: 1.7;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #5d5d5d;
}

.blog-1__information__btn {
  display: block;
  color: #000;
  width: 140px;
  height: 50px;
  border: 1px solid #bababa;
  text-align: center;
  line-height: 2.7;
  font-weight: 600;
}

.blog-1__information__btn:hover {
  text-decoration: none;
  color: #000;
}







.blog-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 190px;
}

.blog-2__information__title {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-style: italic;
}

.blog-2__information__text {
  font-size: 16px;
  max-width: 415px;
  line-height: 1.7;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #5d5d5d;
}

.blog-2__information__btn {
  display: block;
  color: #000;
  width: 140px;
  height: 50px;
  border: 1px solid #bababa;
  text-align: center;
  line-height: 2.7;
  font-weight: 600;
}

.blog-2__information__btn:hover {
  text-decoration: none;
  color: #000;
}


/* media queries */

@media only screen and (max-width: 1037px)  {
  .blog-1, .blog-2 {
    display: block;
  }

  .blog-1__img, .blog-2__img {
    display: block;
    margin: 0 auto;
  }

  .blog-2__img {
    margin-top: 50px
  }

   .blog-2__information__btn {
     margin-bottom: 150px;
 }

  .blog-1__information__title, .blog-2__information__title,
  .blog-1__information__text, .blog-2__information__text,
  .blog-1__information__btn, .blog-2__information__btn {
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 629px) {
  .blog-title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 550px)  {
  .blog-1__img, .blog-2__img {
    widows: 423px;
    height: 253px;
  }
}

@media only screen and (max-width: 402px)  {
  .blog-1__img, .blog-2__img {
    widows: 373px;
    height: 203px;
  }
}

@media only screen and (max-width: 387px) {
  .blog-title {
    font-size: 37px;
  }

  .blog-1__information__title, .blog-2__information__title {
    font-size: 27px;
  }
}
